<!-- Divider -->
<table class="deviceWidth" border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px;" align="center" pardot-repeatable>
  <tr>
    <td style="padding: 16px 0 16px 0;" bgcolor="#ffffff" align="center">
            <table class="content-table deviceWidth" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="width:600px;">
              <tr>
                <td style="padding: 0 24px 0 24px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="552" class="insideGutters">
                    <tr>
                      <td align="center" style="height: 1px; line-height: 1px;" pardot-region="Horizontal rule">
                        <hr height="1" style="height: 1px; border: none; color: #005596; background-color: #005596;">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
    </td>
  </tr>
</table>
<!-- /Divider -->